.web-work {
    background-color: #363434;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.graphic-work {
    background-color: #363434;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}